*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #A0CCF3;
    
}
header{
    background-color: #614820;
    padding: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    
}
#mainImage{
    border: rgb(108, 98, 80) 0.7rem solid;
    border-radius: 100%;
    margin: 2rem;
}
.specialFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav Displays */
#navbar{
    background-color: #614820;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100%;
}
.navButton{
    background-color: #e7b667;
    width: 15%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem;

    font-size: larger;
    font-weight: 300;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    
    border: 5px solid #e7b667;
    border-radius: 5rem;

    cursor: pointer;
}
.navButton:hover{
    font-weight: 800;
}
#highlightButton{
    border: 5px rgb(255, 94, 94) solid;
    font-weight: 800;
}

/* Footer Displays */
footer{
    padding: 1rem;

    background-color: #614820;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: center;
}
.footerBox{
    border-left: 5px solid #e7b667;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}
.footerBox > a, .footerBox > p {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.footerBox > a:hover {
    text-decoration: underline;
}
.smallIcons{
    width: 10rem;
    border-radius: 5rem;
}

/* Float */
.floatClear{
    clear: right;
}

/* Main Boxes */
.leftBox{
    padding: 1.5rem;
    background-color: wheat;
    margin: 3rem 3rem 0rem 3rem;
    width: 70%;
    border: rgb(108, 98, 80) solid 7px;
    border-radius: 50px;
    display:flex;
    flex-direction: row;
    gap: 15px;
    
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rightBox {
    padding: 1.5rem;
    background-color: wheat;
    margin: 3rem 3rem 3rem 3rem;
    width: 70%;
    border: rgb(108, 98, 80) solid 7px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;

    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
}
.leftImage{
    width: 10rem;
    height: 10rem;
    justify-self: start;
    float: left;

    border-radius: 100px;
    border: 0.4rem rgb(108, 98, 80) solid;
}
#projectContainer{
    justify-content: space-around;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.projectBox{
    width: 25rem;
    height: auto;
    border-radius: 15px;
    background-color: wheat;
    margin: 1rem;
    padding: 1rem;
}
.centerBox{
    padding: 1.5rem;
    background-color: wheat;
    margin: 3rem auto 3rem auto;
    width: 70%;
    border: rgb(108, 98, 80) solid 7px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    text-align: center;

    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.projectImg{
    width: 100%;
    border-radius: 1rem;
}
.projectIconContainer{
    height: auto;
    display: flex;
    justify-content: space-around;
}
.projectIcon{
    width: 3rem;
    cursor: pointer;
}
.smallBoxSize{
    height: 6rem;
    text-align: center;
}
#resume{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}
#resume > img{
    width: 50%;
}

/* For the boxes on the home page */
.mainBox{
    flex-direction: column;
    align-content: center;
    padding: 1rem 5rem 1rem 5rem;
}
#languageBox{
    display: flex;
}
#htmlBox{
    background-color: rgb(0, 174, 255);
    border: rgb(0, 107, 173) solid 10px;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    width: 30%;
}
#htmlBar{
    margin: 1rem 0rem 0rem 0rem;
    height: 2rem;
    background-color: rgb(171, 171, 171);
    border: rgb(7, 0, 66) solid 5px;
}
#htmlInnerBar{
    background-color: blue;
    width: 74%;
    height: 100%;
    margin: 0 0 0 -1px;
}
#cssBox {
    background-color: rgb(0, 174, 255);
    border: rgb(0, 107, 173) solid 10px;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    width: 30%;
}
#cssBar {
    margin: 1rem 0rem 0rem 0rem;
    height: 2rem;
    background-color: rgb(171, 171, 171);
    border: rgb(7, 0, 66) solid 5px;
}
#cssInnerBar {
    background-color: blue;
    width: 58%;
    height: 100%;
    margin: 0 0 0 -1px;
}
#jsBox {
    background-color: rgb(0, 174, 255);
    border: rgb(0, 107, 173) solid 10px;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    width: 30%;
}
#jsBar {
    margin: 1rem 0rem 0rem 0rem;
    height: 2rem;
    background-color: rgb(171, 171, 171);
    border: rgb(7, 0, 66) solid 5px;
}
#jsInnerBar {
    background-color: blue;
    width: 37%;
    height: 100%;
    margin: 0 0 0 -1px;
}

/* Mobile View (Projects Description) */
@media (max-width: 927px) {
    .smallBoxSize{
        height: auto;
    }
}

/* Mobile View (Home page language boxes) */
@media (max-width: 1100px) {
    #languageBox{
        margin-left: 10%;
        width: 100%;
        flex-direction: column;
    }
    #htmlBox, #cssBox, #jsBox{
        border: rgb(0, 107, 173) solid 5px;
        border-radius: 20px;
        margin: 0rem;
        margin-bottom: 1rem;
        padding: 1rem;
        font-weight: 600;
        width: 70%;
    }
}

/* Mobile View (Rest of Site) */
@media (max-width: 650px) {
    /* Footer Adjustments */
    footer {
        flex-direction: column;
    }
    .footerBox>a, .footerBox>p {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
    /* Header and Navbar Adjustments */
    #navbar {
        flex-wrap: wrap;
    }
    #highlightButton {
        border: 0.4rem rgb(255, 94, 94) solid;
        font-weight: 800;
    }
    .navButton {
        background-color: #e7b667;
        width: 15%;
        padding: 0.2rem 1rem 0.2rem 1rem;
        margin: 0.5rem;

        font-size: 0.7rem;
        font-weight: 300;

        border: 0.4rem solid #e7b667;
    }

    /* Home Page */
    .centerBox{
        border: rgb(108, 98, 80) solid 7px;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
    
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #mainImage{
        width: 10rem;
        border: rgb(108, 98, 80) 0.4rem solid;
        border-radius: 100%;
        margin: 0rem;
        margin-top: 1rem;
    }
    .centerBox{
        padding: 1rem;
        background-color: wheat;
        margin: 3rem auto 3rem auto;
        width: 70%;
        border: rgb(108, 98, 80) solid 5px;
        flex-direction: column;
    
        font-size: 1rem;
    }
    /* About page */
    .leftBox, .rightBox{
        padding: 1rem;
        width: 70%;
        margin-left: 1rem;
        margin-right: 1rem;
        border: rgb(108, 98, 80) solid 4px;
        border-radius: 50px;
        flex-direction: column;
        gap: 0;
        float: none;
        
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .leftImage{
        width: 10rem;
        height: auto;
    }
}